@mixin Button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  &:active {
    transform: scale(1.1);
  }
}

.AddToCart {
  background-color: rgb(247, 247, 119);
  @include Button();
}
.Reorder {
  @include Button();
  background-color: rgb(183, 247, 119);
}

.StartOrder {
  @include Button();
  background-color: rgb(183, 247, 119);
}
.StopOrder {
  @include Button();
  background-color: rgb(247, 132, 119);
}
.CartButton {
  @include Button();
  background-color: rgb(247, 132, 119);
}
