$boxshadow: 0px 0px 4px #ededed;

.CookingStaffContainer {
  display: flex;
  flex-direction: column;
  .OrdersType {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    box-shadow: $boxshadow;

    .Orderstab {
      box-shadow: $boxshadow;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: #ccc;
        transform: scale(1.01);
        transition: all;
      }
    }
  }

  .OrdersList {
  }
}
